// Panem's Colors
$text-color: #333;
$dark-bg-color: #5E0025;
$light-bg-color: #FEFBF5;
$title-color: #2E74B5;
$emphasis-color: #2E74B5;

$button-color: #5E002544;
$button-color-opaque: #5E0025FF;

$caption-color: #5E0025EE;
