<header class="header header-gray ParallaxContainer">
    <div class="header-block">
        <!--<div class="header-content header-title">Gray's Adventure</div>
        <div class="header-content header-description">A single-player 2D platformer. Collect the colors and help them get free!</div>
         <button class="header-content header-button" id="DownloadCV">Download Resume</button> -->
    </div>
</header>

<div class="project-desc">
    <div class="project-desc-block body-block">
        <div class="project-desc-image">
            <img class="image left" src="./green.png" />
        </div>
        <div class="project-desc-text">
            <div class="round-title-block project-desc-title-block">
                <div class="round-title project-desc-title">
                    Project description
                </div>
            </div>
            <div class="project-desc-content">
                <p class="paragraph">This project was submitted for the <a href="#" class="link">Game A Niaque game jam of 2015</a>, on the theme "The Box".</p>
                <p class="paragraph">As Gray, a simple 2D-square, help the color cubes find their way out. Collect them on your way and they'll help you overcome difficult and twisted obstacles!</p>
                <p class="paragraph">You can play this game online <a href="https://sfg.itch.io/grays-adventure-web" class="emphasis link">here</a>.</p>
            </div>
        </div>
    </div>
    <div class="project-desc-block body-block body-block-col">
        <div class="project-skills-title-block">
            <div class="project-title">
                My work
            </div>
        </div>
        <div class="project-desc-text">
            <div class="project-desc-content">
                <p class="paragraph">This project was my first game jam. I just came back from my first Game Design class and I wanted to apply my new knowledge, especially with Unity. A simple platformer seemed the best to begin with, and I liked the idea of powers linked to colors. Soon enough, with the help of my best friend Alex, the idea of Gray was born.</p>
                <p class="paragraph">We first imagined all the color-mechanics we could use. We generated tons of different ideas, but tossed the ones we couldn't make for our two-week deadline for the game jam. We kept it simple, and re-used a lot of previously crafted pieces of code. We chose these color-mechanics to start with:
                    <ul>
                        <li><strong style="color:#be3737;">RED:</strong> Red blocks makes you jump to a precise location !</li>
                        <li><strong style="color:#f07810;">ORANGE:</strong> Press space to jump !</li>
                        <li><strong style="color:#ffd615;">YELLOW:</strong> Touch a yellow platform to activate it !</li>
                        <li><strong style="color:#a7d129;">GREEN:</strong> Run on green platforms to swing them !</li>
                        <li><strong style="color:#235784;">BLUE:</strong> Blue blocks are tunnels !</li>
                        <li><strong style="color:#7045af;">VIOLET:</strong> Violet circles are teleporters !</li>
                    </ul>
                </p>
            </div>
        </div>
        <div class="project-desc-image">
            <img class="image right" src="" />
        </div>
        
        <div class="project-desc-text">
            <div class="project-desc-content">
                <p class="paragraph">Then came the level design. Our constraint was that the game should be finishable in ten minutes. It was barely doable, but still. I wanted the players to experience frustration, difficulty, but ultimately, to succeed by persevering and trying over and over.</p>
                <p class="paragraph">I first imagined a very flat level:</p>
                <p></p>
            </div>
        </div>

        <a href="#" class="project-desc-image image-zoom">
                <img class="image" src="./ld-0.png" />
            </a>
        
        <div class="project-desc-text">
            <div class="project-desc-content">
                <p class="paragraph">After starting to implement it, we realised that it was very linear, and boring to go back and forth to explore new possibilities. We tweaked the level, putting areas above others, letting the player a bit guided but not too much: they'd have to explore the whole level at the end to find the exit (see picture below).</p>
                <p></p>
            </div>
        </div>
        
        <a href="#" class="project-desc-image image-zoom">
            <img class="image" src="./ld-final.png" />
        </a>

        <div class="project-desc-text">
            <div class="project-desc-content">
                <p class="paragraph">We didn't manage to get selected by the jam's organizers, but this project is very important to me: it is the first I ever made as a game designer. I had an experience in mind, the one of a difficult (and somewhat frustrating) platformer game, that the player would quit or try again and again until completion.</p>
            </div>
        </div>

    </div>
</div>