// Peak's Colors
$text-color: #4F1E21;
$dark-bg-color: #872E16;
$light-bg-color: #E9DBBB;
$title-color: #48BE86;
$emphasis-color: #D3662D;

$button-color: #D3662D44;
$button-color-opaque: #D3662DFF;

$caption-color: #2E122DEE;
