// Gray's Adventure Colors
$text-color: #FFF;
$dark-bg-color: #AF013B;
$light-bg-color: url('./partials/bg.png');
$title-color: #288DD2;
$emphasis-color: #49aba2;

$button-color: #49aba244;
$button-color-opaque: #49aba2FF;

$caption-color: #2E122DEE;
