// Gray's Adventure Colors
$text-color: #000;
$dark-bg-color:#9E012E;
$light-bg-color: #FEDA8E;
$title-color: #000;
$emphasis-color: #9E012E;

$button-color: #F1969F44;
$button-color-opaque: #F1969FFF;

$caption-color: #2E122DEE;
