// General Colors
$text-color: #5D5D5C;
$dark-bg-color: #2E122D;
$light-bg-color: #FFE9DC;
$title-color: #CB213C;
$emphasis-color: #830034;

$button-color: #83003444;
$button-color-opaque: #830034FF;

$caption-color: #2E122DEE;
