@import "./variables";

// BASE ITEMS
html, body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-weight: lighter;

    color: $text-color;
}

p {
    margin: 0;
}

a {
    text-decoration: none;
    color: $text-color;
}

button {
    color: $text-color;
    display: inline-block;
    border: 1px solid $text-color;
    padding: $button-padding;
    background-color: $button-color;
    transition: background-color $transition-duration;

    &:hover {
        cursor: pointer;
        background-color: $button-color-opaque;
        transition: background-color $transition-duration;
    }
}

// UTILS
.breaker {
    display: block;
    width: 100vw;
    height: 1px;
}

.paragraph {
    margin-bottom: 25px;
    text-align: justify;
}
.text-hover {
    opacity: 0;
    transition: opacity $transition-duration;

    &:hover {
        opacity: 1;
        transition: opacity $transition-duration;
    }
}


// SPECIFIC
.nav-list, .header-block, .about-me-block, .my-projects-block {
    margin: 0 auto;
    max-width: $full-width;
    width: $full-width;
    display: block;
}

.body-block {
    padding: $block-padding;
}

.navbar {
    position: fixed;
    width: 100%;
    background-color: $dark-bg-color;
}

.nav-list {
    padding: $navlist-padding;
    text-align: left;
}

.nav-list-object {
    display: inline-block;
    margin-left: $navlink-margin-left;

    &:not(:last-child)::after {
        content: "|";
        margin-left: $navlink-margin-left;
    }
}

.nav-list-link {
    color: $light-bg-color;
}

.header {
    display: flex;
    align-items: center;
    height: $header-height;
    background: url(../assets/bg.jpg) 100vw;
}

.header-block {
    border-left: 3px $title-color solid;
    text-align: left;
}

.header-content {
    margin: 5px 0 5px 40px;

    &.header-title {
        font-size: $font-xxl;
    }
}

.about-me {
    background-color: $light-bg-color;
}

.about-me-block {
    display: flex;
    flex-flow: row nowrap;
}

.about-me-image, .about-me-text {
    flex: 1 0 50%; 
}

.about-me-content, .about-me-image {
    padding-top: 70px;
}

.about-me-title-block {
    position: absolute; 

    color: $light-bg-color;
    font-size: $font-xl;
    text-align: left;

    background-color: $dark-bg-color;
    padding: 8px 0 8px 30px;

    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;

    width: 35%;
    right: 0;
}

.about-me-image {
    position: relative;

    .image {
        width: 80%;
        border-radius: 100%;

        -webkit-box-shadow: -50px -50px 0px 0px rgba(0,0,0,0.3);
        -moz-box-shadow: -50px -50px 0px 0px rgba(0,0,0,0.3);
        box-shadow: -50px -50px 0px 0px rgba(0,0,0,0.3);
    }
}

.my-projects {
    background-color: $dark-bg-color;
    color: $light-bg-color;
}

.project-title {
    font-size: $font-xxl;
    margin-bottom: 50px;

    position: relative;

    &::before {
        content: "";

        position: absolute;
        width: 35%;
        height: 1px;

        background-color: $light-bg-color;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
    }

    &::after {
        content: "";

        position: absolute;
        width: 35%;
        height: 1px;

        background-color: $light-bg-color;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
    }
}

.projects-grid {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.project-item {
    position: relative;
    max-height: 350px;
    margin-bottom: 20px;

    .text-hover {
        color: $text-color;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;

        padding: $grid-padding;
        background-color: $caption-color;
    }


    img {
        width: 100%;
        max-height: 100%;
    }

    &.item-rect {
        width: 60%;
    }

    &.item-square {
        width: 33%;
    }

    &.item-fill {
        width: 2%;
        background-color: $light-bg-color;
    }
}