// BASE ITEMS
html, body {
  height: 100%;
  width: 100%;
  font-size: $font-normal;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  font-weight: $font-weight-thin;

  color: $text-color;
  background: $light-bg-color;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
  color: $text-color;
}

li {
  list-style: none;
  text-align: left;
  padding-left: 5px;
  text-indent: -5px;

  &.list-minus::before {
      content: " - ";
      padding-right: 10px;
  }

  &.list-plus::before {
      content: "+";
      padding-right: 10px;
  }
}

// UTILS
.breaker {
  display: block;
  width: 100vw;
  height: 1px;
}

.button {
  display: inline-block;

  color: $light-bg-color;
  font-weight: $font-weight-thin;

  border: 1px solid;
  border-color: $text-color;

  padding: $button-padding;
  background: $button-color;

  transition: background-color $transition-duration ease-in-out, border-color $transition-duration ease-in-out;


  &:hover, &:focus {
      cursor: pointer;
      background: $button-color-opaque;
      border-color: $light-bg-color;
      transition: background-color $transition-duration ease-in-out, border-color $transition-duration ease-in-out;
  }
}

.emphasis {
  color: $emphasis-color;
}

.icon {
  display: inline-block;
}

.image-zoom {
  display: block;
  position: relative;
  transition: box-shadow $transition-duration ease-in-out;
  box-shadow: 0px 0px 0px 1px $dark-bg-color;
  
  margin: 80px 10px 10px;
  padding: 10px;

  overflow-x: scroll;
  overflow-y: visible;

  object-fit: cover;

  &::before {
    content: "Click to toggle zoom";
    position: absolute;
    transition: 
            box-shadow $transition-duration ease-in-out,
            top $transition-duration ease-in-out;

    box-shadow: 0px 0px 0px 1px $dark-bg-color;

    padding: 5px;
    top: 0;
    left: 30px;
  }

  &:hover,
  &:focus {
    box-shadow: 0px 0px 0px 5px $dark-bg-color;
    
    &::before {
      box-shadow: 0px 0px 0px 5px $dark-bg-color;
    }
  }
}

.image-zoomed {
  height: 100%;
  width: auto !important;
  max-height: 85vh;
}

.link {
  // color: $light-bg-color;
  transition: color $transition-duration ease-in-out;
  position: relative;

  &.emphasis {
    font-weight: $font-weight-normal;
  }

  &.inverted {
    &::after {
      background: $emphasis-color;
    }
    &:hover, &:focus {
      color: $emphasis-color;
    }
  }

  &::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      height: 2px;
      background: $title-color;

      width: 0;
      transition: width $transition-duration ease-in-out;
  }

  &:hover, &:focus {
      color: $title-color;
      transition: color $transition-duration ease-in-out;

      &::after {
          width: 100%;
          transition: width $transition-duration ease-in-out;
      }
  }
}

.paragraph {
  text-align: justify;

  &:not(:last-child) {
      margin-bottom: 25px;
  }
}

.round-title-block {
  position: absolute; 
  text-align: left;

  font-size: $font-xl;
  padding: 8px 0 8px 30px;

  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;

  width: 35%;
  right: 0;
}

// SPECIFIC
.nav-list, .header-block, .about-me-block, .my-projects-block, .contact-block {
  margin: 0 auto;
  max-width: $full-width;
  width: $full-width;
  display: block;
}

.body-block {
  padding: $block-padding;
}

.navbar {
  position: sticky;
  top: 0;
  z-index: 5;

  width: 100%;
  background: $dark-bg-color;

  &.inverted {
    background: $title-color;
  }
}

.burger-menu-span {
  background: $light-bg-color;
}

.nav-list {
  display: flex;
  padding: $navlist-padding;
  text-align: left;
  justify-content: space-between;
    
  background: $dark-bg-color;
}

.nav-list-object {
  display: inline-block;
  font-size: $font-medium;
  color: $light-bg-color;

  a {
      color: $light-bg-color;
  }
}

.header {
  display: flex;
  align-items: center;
  height: $header-height;
  background: url(../assets/bg7.png) 0 10%/100%;
  position: relative;
  
  &::after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;

      // background: #00000077;
      // z-index: 0;
  }
}

.header-block {
  border-left: 3px $dark-bg-color solid;
  color: $light-bg-color;
  text-align: left;
}

.header-content {
  position: relative;
  z-index: 1;

  margin: 5px 0 5px 40px;

  &.header-title {
      font-size: $font-xxl;
  }
}

.about-me {
  background: $light-bg-color;
}

.about-me-block {
  display: flex;
  flex-flow: row nowrap;
}

.about-me-title-block {
  color: $light-bg-color;
  background: $title-color;
}

.about-me-image, .about-me-text {
  flex: 1 0 50%; 
}

.about-me-content, .about-me-image {
  padding-top: 80px;
}

.about-me-image {
  position: relative;
  display: flex;
  flex-flow: column;
  justify-content: center;

  .image {
      width: 50%;
      border-radius: 100%;
      background: $caption-color;

      -webkit-box-shadow: -50px -50px 0px 0px $caption-color;
      -moz-box-shadow: -50px -50px 0px 0px $caption-color;
      box-shadow: -50px -50px 0px 0px $caption-color;

      align-self: center;
  }
}

.my-projects {
  background: $title-color;
  color: $light-bg-color;
}

.project-title {
  font-size: $font-xxl;
  margin-bottom: 50px;

  position: relative;

  &::before {
      content: "";

      position: absolute;
      width: 35%;
      height: 1px;

      background: $light-bg-color;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
  }

  &::after {
      content: "";

      position: absolute;
      width: 35%;
      height: 1px;

      background: $light-bg-color;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
  }
}

.projects-grid {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.project-item {
  position: relative;
  max-height: 350px;
  overflow: hidden;
  margin-bottom: 10px;

  display: flex;
  flex-flow: row nowrap;
  justify-content: center;

  color: $light-bg-color;
  background: $caption-color;

  .title {
      position: absolute;
      padding: $grid-item-padding;
      top: 0;
      right: 0;
      left: 0;
      z-index: 2;
      font-size: $font-large;
      font-weight: $font-weight-normal;
      text-align: left;
      transition: color $transition-duration;
      
      &::after {
          content: "";
          width: 0;
          height: 2px;
          background: $light-bg-color;

          display: block;
          margin-top: 20px;

          transition: width $transition-duration ease-in-out;
      }
  }

  img {
      max-height: 100%;

      align-self: center;

      transform: scale(1.1);
      transition: transform $transition-duration ease-in-out;
  }

  &:hover, &:focus {
      cursor: pointer;

      img {
          transform: scale(1.1) translateX(10px);
          transition: transform $transition-duration ease-in-out;
      }

      .project-text {
          opacity: 1;
          transition: opacity $transition-duration ease-in-out;
      }

      .title {
          color: $light-bg-color;
          transition: color $transition-duration;

          &::after {
              width: 100%;
              transition: width $transition-duration ease-in-out;
          }
      }
  }

  &.item-rect {
      width: 60%;
  }

  &.item-square {
      width: 36%;
  }

  &.item-fill {
      width: 2%;
      background: $light-bg-color;
      cursor: initial;
  }
}

.project-text {
  color: $light-bg-color;
  text-align: left;

  position: absolute;
  right: 0;
  bottom: 0;
  top: 0;
  left: 0;
  z-index: 1;

  padding: $grid-item-padding;
  padding-top: 120px;
  background: $caption-color;

  opacity: 0;
  transition: opacity $transition-duration ease-in-out;

  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
}

.project-caption {
  font-style: italic;
  position: absolute;
  top: 65px;
  font-size: $font-small;
}

.contact {
  background: $dark-bg-color;
}

.contact-block {
  display: flex;
  justify-content: space-around;
  align-items: first baseline;

  color: $light-bg-color;
}

.contact-title-block {
  background: $light-bg-color;
  color: $title-color;
}

.contact-infos, .contact-text {
  text-align: justify;
  flex: 1 0 50%;
}

.contact-info {
  margin-bottom: 7px;
}

.contact-icon {
  height: $font-normal;
  margin-right: 7px;
}

.contact-content {
  padding-top: 80px;
  text-align: left;
}