.project-desc {
  background: $light-bg-color;
}

.project-desc-block {
  margin: 0 auto;
  max-width: $full-width;
  width: $full-width;
  display: flex;
  flex-flow: row wrap;
}

.project-desc-title-block {
  color: $light-bg-color;
  background: $title-color;
}

.project-skills-title-block {
  width: 100%;
  margin-bottom: -80px; // This is to counter the padding-top of project-desc-content.

  text-align: center;
  // background: $light-bg-color;
  color: $title-color;

  .project-title::before, 
  .project-title::after {
    width: 35%;
    background: $title-color;
  }
}

.project-desc-image, .project-desc-text {
  flex: 1 0 50%; 
}

.project-desc-content, .project-desc-image {
  padding-top: 80px;
}

.project-desc-image {
  position: relative;
  display: flex;
  flex-flow: column;
  justify-content: center;

  &.image-zoom {
    display: block;
  }

  &.top {
    justify-content: flex-start;
  }

  .image {
      width: 90%;
      background: transparent;
      align-self: center;

      &.left {
        align-self: flex-start;
      }

      &.right {
        align-self: flex-end;
      }
  }
}