// Colors
$text-color: #5D5D5C;
$dark-bg-color: #7B3C3C;
$light-bg-color: #F0F0E4;
$title-color: #DB5F29;
$emphasis-color: #3BAAD6;

$button-color: #F0F0E444;
$button-color-opaque: #F0F0E4FF;

$caption-color: #F0F0E4CC;

// Widths
$full-width: 1080px;
$header-height: 600px;

// Margins & paddings
$navlist-padding: 20px 50px;
$navlink-margin-left: 40px;

$block-padding: 50px 0;

$button-padding: 5px 10px;

$grid-padding: 10px;

// Fonts
$font-xl: 2em;
$font-xxl: 3em;

// Transitions
$transition-duration: 0.3s;
