// Widths
$full-width: 1080px;
$header-height: 600px;

// Margins & paddings
$navlist-padding: 20px 50px;
$navlink-margin-left: 40px;

$block-padding: 50px 0;

$button-padding: 5px 10px;

$grid-padding: 10px;
$grid-item-padding: 30px;

// Fonts
$font-small: .8em;
$font-normal: 1.05em;
$font-medium: 1.2em;
$font-xl: 2em;
$font-xxl: 3em;

$font-weight-normal: 400;
$font-weight-thin: 300;

// Transitions
$transition-duration: 0.2s;
