<header class="header header-peak ParallaxContainer">
        <div class="header-block">
            <div class="header-content header-title">Peak</div>
            <div class="header-content header-description">A fast-paced arcade game, between a gliding game and a bossfight.</div>
            <!-- <button class="header-content header-button" id="DownloadCV">Download Resume</button> -->
        </div>
    </header>
    
    <div class="project-desc">
        <div class="project-desc-block body-block">
            <div class="project-desc-image">
                <img class="image left" src="vertical.png" />
            </div>
            <div class="project-desc-text">
                <div class="round-title-block project-desc-title-block">
                    <div class="round-title project-desc-title">
                        Project description
                    </div>
                </div>
                <div class="project-desc-content">
                    <p class="paragraph">This is my Master's final project. Made with <span class="emphasis">Unity</span> and in a team of 11, it is still a work in progress.</p>
                    <p class="paragraph">Glide down gigantic Jade and red sand mountains on your low-tech windsurf, and beat up huge monster to scavenge precious materials from them!</p>
                    <p class="paragraph">The exercise for this project is to make a pre-production in 4 months, and show a vertical slice at the end to prove the doability of the project. A jury composed of video game professionals from all over the world will attend the final presentation, at the end of February 2019.</p>
                    <p class="paragraph">
                        <ul>
                            <li><strong>3D Artists:</strong> 
                                <ul>
                                    <li><a href="https://www.artstation.com/lysaena" class="link emphasis">Lise Sourlier</a> (Character Artist)</li>
                                    <li><a href="https://www.artstation.com/tharinmagem" class="link emphasis">Meghan Martin</a> (Environment Artist)</li>
                                </ul>
                            </li>
                            <li><strong>Programmers: </strong>
                                <ul>
                                    <li><a href="http://www.suliacblineau.eu" class="link emphasis">Suliac Blineau</a> (Gameplay Programmer)</li>
                                    <li><a href="http://jordan-bas.com" class="link emphasis">Jordan Bas (Gameplay Programmer)</a></li>
                                    <li><a href="http://delvatron.ovh" class="link emphasis">Valentin Legeay</a> (VFX and Shaders Programmer)</li>
                                </ul>
                            </li>
                            <li><strong>Sound Designer: </strong>
                                <ul><li><a href="https://marcenciso.weebly.com" class="link emphasis">Marc Enciso</a></li></ul>
                            </li>
                            <li><strong>UX/UI Designer: </strong>
                                <ul><li><a href="https://www.linkedin.com/in/gastonrobertuxui/" class="link emphasis">Gaston Robert</a></li></ul>
                            </li>
                            <li><strong>Game Designers: </strong>
                                <ul>
                                    <li><a href="https://malodalmier.wixsite.com/portfolio" class="link emphasis">Malo Dalmier</a> (Game Design)</li>
                                    <li><a href="https://thomasrodriguezsite.wordpress.com/" class="link emphasis">Thomas Rodriguez</a> (Game Design)</li>
                                    <li><a href="/" class="link emphasis">Val Isautier</a> (Level Design) (that's me !)</li>
                                </ul>
                            </li>
                            <li><strong>Project Manager: </strong>
                                <ul><li><a href="https://www.linkedin.com/in/victorcottineau" class="link emphasis">Victor Cottineau</a></li></ul>
                            </li>
                        </ul>

                    </p>
                </div>
            </div>
        </div>
        <div class="project-desc-block body-block body-block-col">
            <div class="project-skills-title-block">
                <div class="project-title">
                    My work
                </div>
            </div>
            <div class="project-desc-text">
                <div class="project-desc-content">
                    <p class="paragraph">My main role on this project is Level Designer.</p>
                    <p class="paragraph">Building a fun, fast-paced gliding game is not easy, and I am inspiring myself from other games (<i>SSX</i> as the main reference, but also <i>TrackMania</i>, and <i>various racing games</i>) as well as natural shapes to build a coherent world.</p>
                    <p class="paragraph">I also have stepped in the world building, suggesting a context and backstory to the team. It has gone through many iterations, as we wanted a light tone for the game: we needed to get rid of everything too heavy for what we wanted to make the player feel for this experience.</p>
                </div>
            </div>
            <div class="project-desc-image">
                <img class="image right" src="character.png" />
            </div>
        </div>
    </div>