<header class="header header-esd ParallaxContainer">
        <div class="header-block">
            <!-- <div class="header-content header-title">Every System Down</div>
            <div class="header-content header-description">Work in progress !</div>
            <button class="header-content header-button" id="DownloadCV">Download Resume</button> -->
        </div>
    </header>
    
    <div class="project-desc">
        <div class="project-desc-block body-block">
            <div class="project-desc-image">
                <img class="image left" src="arthur.jpg" />
            </div>
            <div class="project-desc-text">
                <div class="round-title-block project-desc-title-block">
                    <div class="round-title project-desc-title">
                        Project description
                    </div>
                </div>
                <div class="project-desc-content">
                    <p class="paragraph">Every System Down is my 1st year of Master's project, made in 3 month in a team of 5. <span class="emphasis">Between video game and escape room</span>, this experience takes place in a <span class="emphasis">real-life installation</span>.</p>
                    <p class="paragraph">Trapped in the cockpit of a sinking submarine, you need to help the only member of the crew still alive to get you both to the surface alive.</p>
                    <p class="paragraph"><span class="emphasis">Explore</span> your surroundings, understand the <span class="emphasis">command board</span> and its buttons, levers and valves, look around for <span class="emphasis">clues</span> and help the NPC fulfill their mission: save both of your lives before you run out of time.</p>
                    <p class="paragraph">You can see more <a href="https://remi-cros.itch.io/every-system-down" class="link emphasis">here</a>.</p>
                </div>
            </div>
        </div>
        <div class="project-desc-block body-block body-block-col">
            <div class="project-skills-title-block">
                <div class="project-title">
                    My work
                </div>
            </div>
            <div class="project-desc-text">
                <div class="project-desc-content">
                    <p class="paragraph">On this project, I took a double role as <span class="emphasis">Game Designer and Programmer</span>. At first, with <a href="https://www.linkedin.com/in/guillaume-dufour-3a6272126/" class="link emphasis">Guillaume</a>, we worked on the lore and context of the game (which went through many iterations), as the core was defined: the player needs to understand a complex environment, such as a command panel, to solve problems.</p>
                    <p class="paragraph">Our main inspirations were <i>Please don't touch anything</i> and <i>Stories Untold</i>, for the main mechanics and also the <span class="emphasis">oppressive and stressful ambiance</span> of the second. For the context, we first decided on a science-fiction theme, with the player (still stuck in the cockpit) controlling a robot with their console and giving them simple orders to discover the rest of the ship and correct its malfunctions.</p>
                </div>
            </div>
            <div class="project-desc-image">
                <img class="image right" src="levels.png" />
            </div>

            
            <div class="project-desc-image">
                <img class="image left" src="proto_0.jpg" />
            </div>
            <div class="project-desc-text">
                <div class="project-desc-content">
                    <p class="paragraph">After a few iterations, we settled on a submarine ambiance, and also decided to make the physical part of the game. The goal was to make the player feel <span class="emphasis">tension</span>, <span class="emphasis">claustrophobia</span>, and also feel <span class="emphasis">entitled</span> to the NPC they have to help.</p>
                    <p class="paragraph">We designed mechanics and mechanisms in parallel, and I implemented them on <span class="emphasis">Arduino</span> as soon as I could, with a cardboard prototype (see pictures on the left and below).</p>
                    <p class="paragraph">Soon, the game started to make sense: as a ship operator, you would get locked in your cockpit. With headphones, you would hear one of your colleagues, trapped somewhere in the ship, and you could track their position thanks to a screen displaying a map. </p>
                    <p class="paragraph">You would also have access to a panel of buttons to open and close doors, to a console on an old monitor and a keyboard to enter commands, and to various physical devices to <span class="emphasis">solve puzzles</span> (levers, gauges, valves).</p>
                </div>
            </div>
            
            <div class="project-desc-image">
                <img class="image left" src="proto_1.jpg" />
            </div>
            <div class="project-desc-image">
                <img class="image right" src="proto_2.jpg" />
            </div>

            
            <div class="project-desc-text">
                <div class="project-desc-content">
                    <p class="paragraph">We also faced a bigger problem: we wanted to build all of this, but we didn't have a budget, and as students it would have been impossible for us to pay for it. We soon decided to launch a <a href="https://www.leetchi.com/c/every-system-down" class="link emphasis">crowdfunding project</a>, sharing it to our friends and families for a few weeks.</p>
                    <p class="paragraph">It was a huge success. Thanks to the help of 28 people, we gathered more than 700€, which was nearly double of our original plan. The next two weeks were very intense: we bought everything we needed to make our cockpit, made plans, and built everything from this.</p>
                    <p class="paragraph">First we built the cockpit itself, a wooden box that was 1.20 wide, 1.80m high and 1.80m long. It was very effective for triggering claustrophobia, which was one of our intentions.</p>
                    <p class="paragraph">Then we built the command panel, with its buttons and other controls. The old cathodic monitor was meant to be integrated inside it, so we had to cut it right.</p>
                </div>
            </div>
            
            <div class="project-desc-image">
                <img class="image right" src="build_1.jpg" />
            </div>
            <div class="project-desc-image">
                <img class="image left" src="build_2.jpg" />
            </div>
            <div class="project-desc-image">
                <img class="image right" src="build_3.jpg" />
            </div>
            <div class="project-desc-image">
                <img class="image left" src="build_4.jpg" />
            </div>
            <div class="project-desc-image">
                <img class="image right" src="build_5.jpg" />
            </div>

            <div class="project-desc-image">
                <img class="image left" src="test_6.jpg" />
            </div>
            <div class="project-desc-text">
                <div class="project-desc-content">
                    <p class="paragraph">In the end, we presented our project to a jury of video game professionals. They were thrilled by the concept of the game, and even if half of the board broke during the tests, it was still a nice and unusual experience for everyone!</p>
                    <p class="paragraph">This project was a big success. We won <span class="emphasis">Hitsplaytime's Alternative Controller Award</span> (a French contest for student videogames), and we even wanted to take it further: we applied for alt.ctrl.GDC to take the game to the next level... But we didn't make it through the selection phase.</p>
                    <p class="paragraph">In this project, we experienced working under stress and pressure, managing to keep a good morale in the team while nothing worked like intended 2 days before the presentation, and keeping it together even when you want to throw it all away. It was an experience that made me grow, and I'm proud of it and of my teammates for producing such a great game.</p>
                </div>
            </div>
        </div>



    </div>