<header class="header header-esd ParallaxContainer">
        <div class="header-block">
            <!-- <div class="header-content header-title">Every System Down</div>
            <div class="header-content header-description">Work in progress !</div>
            <button class="header-content header-button" id="DownloadCV">Download Resume</button> -->
        </div>
    </header>
    
    <div class="project-desc">
        <div class="project-desc-block body-block">
            <div class="project-desc-image">
                <img class="image left" src="" />
            </div>
            <div class="project-desc-text">
                <div class="round-title-block project-desc-title-block">
                    <div class="round-title project-desc-title">
                        Project description
                    </div>
                </div>
                <div class="project-desc-content">
                    <p class="paragraph">This project is a Master 1 project, made in 3 month in a team of 5 people.</p>
                    <p class="paragraph">Writing in progress...</p>
                </div>
            </div>
        </div>
        <div class="project-desc-block body-block">
            <div class="project-skills-title-block">
                <div class="project-title">
                    My work
                </div>
            </div>
            <div class="project-desc-text">
                <div class="project-desc-content">
                    <p class="paragraph">Writing in progress...</p>
                </div>
            </div>
            <div class="project-desc-image">
                <img class="image right" src="" />
            </div>
        </div>
    </div>