// Gray's Adventure Colors
$text-color: #FFF;
$dark-bg-color: #AF2C2D;
$light-bg-color: #292E34;
$title-color: #7FC7FF;
$emphasis-color: #FF8A00;

$button-color: #FF8A0044;
$button-color-opaque: #FF8A00FF;

$caption-color: #2E122DEE;
