// Gray's Adventure Colors
$text-color: #B0FDBC;
$dark-bg-color: #B0FDBC;
$light-bg-color: #010302;
$title-color: #15DD59;  
$emphasis-color: #CE1717;

$button-color: #DD040244;
$button-color-opaque: #DD0402FF;

$caption-color: #15DD59EE;
