<nav class="navbar">

    <input type="checkbox" class="mobile-only" />

    <span class="burger-menu-span mobile-only"></span>
    <span class="burger-menu-span mobile-only"></span>
    <span class="burger-menu-span mobile-only"></span>
    
    <ul class="nav-list">
        <li class="nav-list-object"><a href="/" class="link">Home</a></li>
        <li class="nav-list-object desktop-only">|</li>
        <li class="nav-list-object"><a href="#" class="link" id="LinkAbout">About me</a></li>
        <li class="nav-list-object desktop-only">|</li>
        <li class="nav-list-object"><a href="#" class="link" id="LinkProjects">Projects</a></li>
        <li class="nav-list-object desktop-only">|</li>
        <li class="nav-list-object"><a href="#" class="link last" id="LinkContact">Contact</a></li>
    </ul>
</nav>