<header class="header header-doom ParallaxContainer">
    <div class="header-block">
        <!--<div class="header-content header-title">Doom II Custom level</div>
        <div class="header-content header-description">A single-player 2D platformer. Collect the colors and help them get free!</div>
         <button class="header-content header-button" id="DownloadCV">Download Resume</button> -->
    </div>
</header>

<div class="project-desc">
    <div class="project-desc-block body-block">
        <div class="project-desc-image">
            <img class="image left" src="./entrance.png" />
        </div>
        <div class="project-desc-text">
            <div class="round-title-block project-desc-title-block">
                <div class="round-title project-desc-title">
                    Project description
                </div>
            </div>
            <div class="project-desc-content">
                <p class="paragraph">This project is a custom level for the game Doom II. It has been made using <a href="https://devbuilds.drdteam.org/doombuilder2-gzdb/" class="emphasis link">GZDoom Builder</a>, and is an school exercise for level design.</p>
                <p class="paragraph">The scenario is simple: you wake up in an empty cell, and your door is unlocked. As you get out, you notice strange things: the floor is sticky, and your cell neighbour has been hanged... It is up to you to understand what happened here, and to get the hell out!</p>
            </div>
        </div>
    </div>
    <div class="project-desc-block body-block body-block-col">
        <div class="project-skills-title-block">
            <div class="project-title">
                My work
            </div>
        </div>
        <div class="project-desc-text">
            <div class="project-desc-content">
                <p class="paragraph">Starting this project, I had no idea what I was doing. I tried to understand the editor at first, then I tried to make plans on paper, but I couldn't reproduce them because I had no idea what the engine could or could not do.</p>
                <p class="paragraph">After a while, and with good advice from my teacher, I started thinking about a global scenario, and how the lighting was going to tell my story. I quickly got over-enthusiastic, as you can see on the picture on the left (each circle is a light, and this is only the first part of the level).</p>
            </div>
        </div>
        <div class="project-desc-image">
            <img class="image right" src="./doom-lights.png" />
        </div>
        
        <div class="project-desc-image">
            <img class="image left" src="./trail.gif" />
        </div>
        <div class="project-desc-text">
            <div class="project-desc-content">
                <p class="paragraph">The level itself is divided in 4 parts: the prison, the "dark" lab, the "light" lab and the sewers (yes, another sewer level).</p>
                <p class="paragraph">The prison is the easiest part. It teaches the player the basic rules (other than controls) that will apply through all the level: doors will automatically close after a certain amount of time, keys unlock doors of the same color, and small details often reveal secrets.</p>
                <p class="paragraph">As you can see on the gif, this very obvious blood trail leads to a sweet shotgun !</p>
            </div>
        </div>
        
        <div class="project-desc-text">
            <div class="project-desc-content">
                <p class="paragraph">The second part, the "dark" lab, is infested by monsters and mutant soldiers. I wanted the player to immediately know that they were in a technologic lab, so I used Doom's old textures and lights to create rooms that could mean something: a servers room, a commands room full of screens and buttons...</p>
                <p class="paragraph">The player first gets a shotgun from a lone mob, then rampages a whole squad of them. They encounter a red locked door, but the key is in a room with two giant spider monsters. </p>            </div>
        </div>
        <div class="project-desc-image">
            <img class="image right" src="./boss1.png" />
        </div>

        <div class="project-desc-text">
            <div class="project-desc-content">
                <p class="paragraph">The third part is the "light" lab. It is feels like the other part was shut down, while this one still runs on electricity, even if it is almost empty. The technology is working better here, and I designed the rooms so they looked like regular people had lived here (and just left): a refectory, a shooting range, a locker room...</p>
                <p class="paragraph">The player, when entering, witnesses a deadly combat between human soldiers and monsters from some kind of portal. (Un)fortunately, the door is locked.</p>
            </div>
        </div>
        
        <div class="project-desc-image">
            <img class="image right" src="./shoot.png" />
        </div>
        <div class="project-desc-image">
            <img class="image left" src="./locker.png" />
        </div>
        <div class="project-desc-image">
            <img class="image right" src="./cafet.png" />
        </div>
        
        <div class="project-desc-image">
            <img class="image" src="./fight.png" />
        </div>
    
        
        <div class="project-desc-image">
            <img class="image left" src="./sewer.png" />
        </div>
        <div class="project-desc-text">
            <div class="project-desc-content">
                <p class="paragraph">The last part is the sewer. No more lights to guide the player, only fog and monsters everywhere now. If not prepared, the player will face an inevitable death, as this is the most difficult part of the level: there are powerful monsters, traps everywhere and very few healing items.</p>
                <p class="paragraph">The boss of the level hides in the central room, where all tunnels discharge their filthy water. This boss can be defeated by brute force, or by strategically getting the power orb in the center of the pool.</p>
                <p class="paragraph">When the boss is defeated and drops a key, the player can go back and find the exit.</p>
            </div>
        </div>
        
        <div class="project-desc-image">
            <img class="image left" src="./sewer2.png" />
        </div>
        <div class="project-desc-image">
            <img class="image right" src="./sewer3.png" />
        </div>
        
        <div class="project-desc-image"> 
            <img class="image right" src="./pool.png" />
        </div> 

        <div class="project-desc-text">
            <div class="project-desc-content">
                <p class="paragraph">This level design exercise taught me a lot about lighting, pacing, and also how to use environmental narration to tell a story without words.</p>
                <p class="paragraph">The full map of the level is available below, as well as the detailed map of each part of the level. You can also <a href="https://drive.google.com/open?id=1Cmc_WiCI1XJuR8A39h6ITLJ5W4F-_N2b" class="link emphasis">download the .wad file</a> to launch with Doom II.</p>
                
                <div class="project-desc-image desktop-only image-zoom">
                    <img class="image" src="./map1.png" />
                </div>
                
                <div class="project-desc-image top mobile-only image-zoom">
                    <img class="image right" src="./map.png" />
                </div>
            </div>
        </div>
        
        <div class="project-desc-image mobile-only image-zoom">
            <img class="image" src="./map1.png" />
        </div>
        <div class="project-desc-image top desktop-only image-zoom">
            <img class="image right" src="./map.png" />
        </div>
        <div class="project-desc-image top image-zoom">
            <img class="image" src="./map2.png" />
        </div>
        <div class="project-desc-image top image-zoom">
            <img class="image right" src="./map3.png" />
        </div>
    </div>
</div>