<header class="header header-nap ParallaxContainer">
    <div class="header-block">
        <div class="header-content header-title">Nap Simulator</div>
        <div class="header-content header-description">A webcam-playable minigame made with Processing.</div>
        <!-- <button class="header-content header-button" id="DownloadCV">Download Resume</button> -->
    </div>
</header>

<div class="project-desc">
    <div class="project-desc-block body-block">
        <div class="project-desc-image">
            <img class="image left" src="" />
        </div>
        <div class="project-desc-text">
            <div class="round-title-block project-desc-title-block">
                <div class="round-title project-desc-title">
                    Project description
                </div>
            </div>
            <div class="project-desc-content">
                <p class="paragraph">This project is a custom level for the game Doom II. It has been made using <a href="https://devbuilds.drdteam.org/doombuilder2-gzdb/" class="emphasis link">GZDoom Builder</a>, and is an school exercise for level design.</p>
            </div>
        </div>
    </div>
    <div class="project-desc-block body-block">
        <div class="project-skills-title-block">
            <div class="project-title">
                My work
            </div>
        </div>
        <div class="project-desc-text">
            <div class="project-desc-content">
                <p class="paragraph">Starting this project, I had no idea what I was doing. I tried to understand the editor at first, then I tried to make plans on paper, but I couldn't reproduce them because I had no idea what the engine could or could not do.</p>
                <p class="paragraph">After a while, and with good advice from my teacher, I started thinking about a global scenario, and how the lighting was going to tell my story. I quickly got over-enthusiastic, as you can see on the picture on the left (each circle is a light, and this is only the first part of the level).</p>
            </div>
        </div>
        <div class="project-desc-image">
            <img class="image right" src="" />
        </div>
    </div>
</div>