<header class="header header-nap ParallaxContainer">
    <div class="header-block">
        <div class="header-content header-title">Nap Simulator</div>
        <div class="header-content header-description">A webcam-playable minigame made with Processing.</div>
        <!-- <button class="header-content header-button" id="DownloadCV">Download Resume</button> -->
    </div>
</header>

<div class="project-desc">
    <div class="project-desc-block body-block">
        <div class="project-desc-image">
            <img class="image left" src="title.jpg" />
        </div>
        <div class="project-desc-text">
            <div class="round-title-block project-desc-title-block">
                <div class="round-title project-desc-title">
                    Project description
                </div>
            </div>
            <div class="project-desc-content">
                <p class="paragraph">This project was a school exercise with <a href="https://processing.org/" class="link emphasis">Processing</a>.</p>
                <p class="paragraph">With two of my friends, <a href="https://twitter.com/_s0r0" class="link emphasis">Sara</a> and <a href="https://yannismoulay.com/" class="link emphasis">Yannis</a>, we decided to team up and we imagined a game played with an unusual controller: a webcam.</p>
                <p class="paragraph">A tired student has to take a nap during a boring class, but the teacher wanders around in the class! Listen carefully to the sound of his voice to open your eyes before he busts you.
                    <br> Try to reach the end of the class without getting caught, but beware of sleep deprivation...</p>
                <p class="paragraph">The game is downloadable <a href="https://brutalibre.itch.io/napsimulator" class="link emphasis">here</a>.</p>
            </div>
        </div>
    </div>
    <div class="project-desc-block body-block">
        <div class="project-skills-title-block">
            <div class="project-title">
                My work
            </div>
        </div>
        <div class="project-desc-text">
            <div class="project-desc-content">
                <p class="paragraph">We all first designed the principle and the mechanics of the game together, as we wanted to keep it as simple as possible. We conducted brainstorms, gravitatig around the idea of an alternative controller. </p>
                <p class="paragraph">We decided to go with the webcam, and the idea of the boring class came to us quite naturally... (Any resemblance to persons living or dead is purely coincidental)</p>
                <p class="paragraph">We then split tasks: Yannis would record the sounds and create the level design, Sara produced all the graphical assets, and I was the programmer.</p>
            </div>
        </div>
        <div class="project-desc-image">
            <img class="image right" src="Perdu.jpg" />
        </div>

        
        <div class="project-desc-image">
                <img class="image left" src="gg.jpg" />
            </div>
        <div class="project-desc-text">
            <div class="project-desc-content">
                <p class="paragraph">Processing is a very fun tool to fidget with, with quick prototyping and a good documentation. After developing half of the project in Java (Processing main language), I switched to JavaScript pretty easily thanks to the library <a href="https://p5js.org/" class="link emphasis">p5.js</a>.</p>
                <p class="paragraph">Object programming in JavaScript, with a tool as simple as Processing to display your screen, is really efficient and, ultimately, fun to do!</p>
                <p class="paragraph">Even if this project was fun, it made me realize I really don't want to go back to programming "only". Nonetheless, my background as a developer will come in handy in my work as a Game Designer.</p>
            </div>
        </div>
    </div>
</div>