// Doom Colors
$text-color: #E4F5FF;
$dark-bg-color: #E19844;
$light-bg-color: url('./partials/bg.png');
$title-color: #3D89B1;
$emphasis-color: #D17E3C;

$button-color: #D17E3C44;
$button-color-opaque: #D17E3CFF;

$caption-color: #2E122DEE;
