@import "./colors.scss";
@import "../styles/variables.scss";
@import "../styles/main.scss";
@import "../styles/projects.scss";
@import "../styles/responsive.scss";

.header-doom {
  background: url('../assets/doom.png') 0 50%/cover;
}

@media screen and (max-device-width: 960px) {
  .header-doom {
    background: url('../assets/doom.png');
    background-position: 25% 50%;
    background-size: cover;
  }
}