<header class="header header-noche ParallaxContainer">
        <div class="header-block">
            <!-- <div class="header-content header-title">Nap Simulator</div>
            <div class="header-content header-description">A webcam-playable minigame made with Processing.</div>
            <button class="header-content header-button" id="DownloadCV">Download Resume</button> -->
        </div>
    </header>
    
    <div class="project-desc">
        <div class="project-desc-block body-block">
            <div class="project-desc-image">
                    <iframe class="image left" width="560" height="315" src="https://www.youtube.com/embed/SOCk6yFF-A0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <div class="project-desc-text">
                <div class="round-title-block project-desc-title-block">
                    <div class="round-title project-desc-title">
                        Project description
                    </div>
                </div>
                <div class="project-desc-content">
                    <p class="paragraph">This is my first "big" video game project, in a team of 9 students. The instructions for the exercise were simple: we had to make a shoot'em up (shmup) game in 1 month.</p>
                    <p class="paragraph">Our first idea, and the one we kept, was to make a rhythm game where you had to shoot on tempo in order to kill enemies.</p>
                    <p class="paragraph">In Noche de Alebrijes, fly a powerful spirit to defeat its enemies... in rhythm! Follow the music to get stack your combo and your high score.</p>
                    <p class="paragraph">The game is downloadable <a href="https://copalteam.itch.io/noche-de-alebrijes" class="emphasis link">here</a>.</p>
                </div>
            </div>
        </div>
        <div class="project-desc-block body-block">
            <div class="project-skills-title-block">
                <div class="project-title">
                    My work
                </div>
            </div>
            <div class="project-desc-text">
                <div class="project-desc-content">
                    <p class="paragraph">As my first big project, I was very excited to work in a big team and with people I didn't really know. This was also the first time I'd be a full-time Game Designer, and I was eager to make a great game.</p>
                    <p class="paragraph">We had only one month to produce a complete game. We - my coworker <a href="https://www.linkedin.com/in/margot-mathieu-b18578155/" class="emphasis link">Margot</a> and I - focused at first on the documents and the communication (internal and external).</p> 
                    <p class="paragraph">We brainstormed all together with the team, taking big decisions together, and Margot and I put it on paper so that everyone had the same basis to work with.</p>
                    <p class="paragraph">Once the basic mechanics had been decided - the player must fire in rhythm to enhance their weapon and the music - the level design phase could begin.</p>
                </div>
            </div>
            <div class="project-desc-image">
                <img class="image right" src="lapin.png" />
            </div>

            
            <div class="project-desc-image">
                <img class="image left" src="boss0.png" />
            </div>
            <div class="project-desc-text">
                <div class="project-desc-content">
                    <p class="paragraph">The game was supposed to be divided in two phases: a level with monsters coming forth, and a boss at the end. Margot designed the small enemies, their patterns and their attacks, while I was in charge of the boss fight.</p>
                    <p class="paragraph">Unfortunately, we lacked time: we could only implement the "general" level and we decided to cut the boss. I integrated the level design of Margot in Unity, using the tools our programmers had set for us.</p>
                    <p class="paragraph">The boss was supposed to be a snake-like monster, with thousands of eyes. Some of them, the biggest, would open and close in rhythm, allowing the player to calculate their launch window to hit precisely.</p>
                    <p class="paragraph">On these images, you can see early concepts of the boss and its different patterns (eyes and bullets) and phases. It was never implemented by programmers nor drawn by artists by lack of time.</p>
                </div>
            </div>

            
            <div class="project-desc-image">
                <img class="image left" src="boss1.png" />
            </div>
            <div class="project-desc-image">
                <img class="image right" src="boss2.png" />
            </div>

            
            <div class="project-desc-text">
                <div class="project-desc-content">
                    <p class="paragraph">In the end, we released Noche in time for everyone to play and enjoy. We had very positive comments, even if the game had a blatant winning strategy we didn't manage to avoid...</p>
                    <p class="paragraph">The game was fun, a bit easy (but there was a scoreboard for those who wanted to grind) but enjoyable nonetheless.</p>
                    <p class="paragraph">I am proud of this game and of my work on it, even if half of it was cut. I learned a lot about working as a team, and especially with another Game Designer, and to let others express their ideas and take them into account.</p>
                </div>
            </div>
            
            <div class="project-desc-image">
                <img class="image right" src="noche2.gif" />
            </div>

            
            <div class="project-desc-image">
                <img class="image left" src="https://img.itch.zone/aW1hZ2UvMjE4MjQ3LzEwMzE3NjUucG5n/original/I9njSy.png" />
            </div>
            <div class="project-desc-image">
                <img class="image right" src="https://img.itch.zone/aW1hZ2UvMjE4MjQ3LzEwMzE3NjYucG5n/original/pmcXc%2B.png" />
            </div>
        </div>
    </div>